h4 {
    display: inline-block;
    color: #357BA6;

    margin: 10px 20px;
}

.card-list{
    margin: 50px 150px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;

}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}